<!doctype html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://104.196.53.127/home">Canoe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" action="/search" method="get">
            <input class="form-control mr-sm-2" id="traveltype" type="text" placeholder="Travel Type" aria-label="Search">
            <input class="form-control mr-sm-2" id="from" type="text" placeholder="From" aria-label="Search">
            <input class="form-control mr-sm-2" id="to" type="text" placeholder="To" aria-label="Search">
            <input class="form-control mr-sm-2" id="departure" type="date" placeholder="Departure Date" aria-label="Search">
            <input class="form-control mr-sm-2" id="arrival" type="date" placeholder="Arrival Date" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>

    <main role="main">
      <div class="jumbotron">
        <form class="form-inline my-2 my-lg-0" action="/viewtrips" method="get">
          <div class="container"><br><br>
          <h1 class="display-3">Welcome to Canoe!</h1>
          <p>We would love to help you book a trip.</p>
          <p>Above, you can search for travel information.</p>
          <p>Below, you can view your personal trips.</p>
          </div>
        </div>

        <div class="jumbotron"><br><br>
          <h1 class="display-3">View all trips!</h1>
          <p>Click here to see a list of your previous and current trips.</p>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">View</button><br><br><br>
          <br><br><img src="/images/1.png" class="img-fluid" alt="Responsive image">
          <img src="/images/2.png" class="img-fluid" alt="Responsive image">
          <img src="/images/3.png" class="img-fluid" alt="Responsive image">
        </div>
      </form>
    </main>
    
  <footer class="container">
    <p>&copy; CSE305 Project- Lauren Cheong, Calvin Li, Calvin Chen 2017-2018</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
