.img-fluid {
    position: relative;
    float: left;
    max-width:  30%;
    max-height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}